<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="WebApiUrl" connectionString="http://115.239.252.70:30001/api/"/>
    <!--<add name="WebApiUrl" connectionString="http://localhost:4221/api/"/>-->
  </connectionStrings>

  <appSettings>
    <!--Cookie过期时间，以分钟为单位-->
    <add key="cookietimeout" value="60"/>
    <add key="HELPURL" value="http://"/>
  </appSettings>
  
  <system.web>

    <authentication mode="Forms">
      <forms name=".ASPXAUTH" path="/" loginUrl="Login.aspx" protection="All" timeout="20"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    
    <pages validateRequest="false"></pages>
    <httpRuntime requestValidationMode="2.0" executionTimeout="3000" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
